.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 25vw;
    max-width: 25vw;
    height: 85%;
    overflow: hidden;
}

.topContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tagsContainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.bottomContainer {
    align-self: flex-end;
}